<!DOCTYPE html>
<html>
  <head>
    <title>SorceryAuthRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Protected", protected_path %></li>
      <% if current_user %>
        <li><%= link_to "Show", user_path %></li>
        <li><%= link_to "Edit", edit_user_path %></li>
        <li><%= link_to "Logout", session_path, method: :delete %></li>
        <li><%= link_to "Destroy", user_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Register", new_user_path %></li>
        <li><%= link_to "Login", new_session_path %></li>
      <% end %>
    </ul>

    <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
